<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
<h1>login</h1>
<br/>
<form th:action="@{/login-check}" method="post">
    <input type="text" name="username" value="218076" />
    <input type="password" name="password" value="218076" />
    <input type="submit" value="login" />
    <!-- <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" /> -->
</form>
    <span th:text="${error}">aa</span>
    <th:block th:utext="${error}"></th:block>
</body>
</html>